.action-panel__content {
  &.action-panel__content--developer-panel {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 0;
    margin: 0;
    max-height: calc(100vh - 130px);

    .structure {
      &__json-editor {
        background: $color-grey-90;
        flex: 50vh 1 1;
        margin: 5px;
      }

      &__xml {
        background: $color-grey-80;
        flex: 50vh 1 1;
        padding: 10px;
        overflow: auto;
        margin: 5px;
        font-size: 13px;

        &--zoom-1 {
          font-size: 9.5px;
        }

        &--zoom-2 {
          font-size: 11px;
        }

        &--zoom-3 {
          font-size: 13px;
        }

        &--zoom-4 {
          font-size: 15px;
        }

        &--zoom-5 {
          font-size: 18px;
          font-weight: bold;
        }

      }

      &__xml-zoom-buttons {
        display: flex;
        justify-content: flex-end;
        margin: 0 5px;
      }

      &__xml-zoom-button {
        background: $color-grey-80;
        color: $color-grey-20;
        border: none;
        width: 32px;
        height: 32px;
        margin-left: 5px;
        font-size: 24px;
        text-align: center;
        outline: none;
        cursor: pointer;

        &:hover {
          background: $color-grey-70;
        }

        &:disabled {
          cursor: default;
          background: $color-grey-80;
          color: $color-grey-70;
        }
      }
    }
  }
}


