$color-black: #000000;
$color-grey-10: #1a1a1a;
$color-grey-20: #333333;
$color-grey-30: #4c4c4c;
$color-grey-40: #666666;
$color-grey-50: #7f7f7f;
$color-grey-60: #999999;
$color-grey-70: #b2b2b2;
$color-grey-80: #cccccc;
$color-grey-90: #e5e5e5;
$color-white: #ffffff;

$z-index-edit-component-backdrop: 1;
$z-index-edit-component: 2;
$z-index-field-wrapper-border: 3;
$z-index-coral-dialog-preview: 4;
$z-index-context-menu: 5;
