.structure {
  display: flex;
  flex-direction: column;
  height: inherit;
  font-family: monospace;
  font-size: 12px;
  background: #f5f5f5;
  width: 350px;
  position: absolute;
  right: 0;
  z-index: $z-index-coral-dialog-preview;

  &:after {
    content: " ";
    background-color: #f5f5f5;
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    cursor: w-resize;
  }

  &__json-editor {
    background: $color-grey-90;
    flex: 50vh 1 1;
    margin: 5px;
  }

  &__xml {
    background: $color-grey-80;
    flex: 50vh 1 1;
    padding: 10px;
    overflow: auto;
    margin: 5px;
  }

  [icon="railRightOpen"] {
    display: none;
  }
  &--closed {
    width: 0 !important;

    .structure__json-editor {
      display: none;
    }

    [icon="railRightClose"] {
      display: none;
    }

    [icon="railRightOpen"] {
      display: inline-block;
    }
  }

  &__show-hide {
    border: 4px solid #f5f5f5;
    width: auto;
    border-radius: 2px;
    height: 128px;
    background-color: #f5f5f5;
    position: absolute;
    left: -31px;
    cursor: pointer;
    color: #4b4b4b;
    padding: 10px 5px;
    display: flex;

    &:focus {
      outline: none;
    }

    span {
      display: block;
      transform: rotate(90deg);
      position: absolute;
      top: 65px;
      left: -20px;
      font-size: 14px;
      font-weight: 800;
    }
  }
}
