.structure {
  flex: 300px 0 0;
  display: flex;
  flex-direction: column;
  height: inherit;
  margin: 0 10px;
  font-family: monospace;
  font-size: 12px;

  &__json-editor {
    background: $color-grey-90;
    flex: 50vh 1 1;
  }

  &__xml {
    background: $color-grey-80;
    flex: 50vh 1 1;
    height: 200px;
    padding: 10px;
    max-width: 300px;
    overflow: auto;
  }
}
