.edit-component {
 /*
  position: fixed;
  width: 400px;
  height: 500px;
  border: $color-grey-30;
  background: $color-grey-70;
  left: calc(50vw - 200px);
  top: calc(50vh - 250px);
  padding: 20px;
  */
  // todo: varify
  z-index: 10;

  &__backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba($color-grey-70, 0.7);
    top: 0;
    left: 0;
    z-index: 2;
  }
}


