.action-panel-container {
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  width: 350px;
  z-index: 1;

  .action-panel__closer {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 4px;
    right: 4px;
    z-index: 2;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 0;
  }

  &--minified {
    width: 0 !important;

    .action-panel {
      display: none;

      &__closer {
        display: none;
      }

      &__content-opener {
        margin-right: calc(100% - 32px);
        transform: rotate(-90deg);
        width: 100px;
        margin-bottom: 67px;

        &:first-child {
          margin-top: 32px;
        }

        span {
          display: block;
        }
      }
    }
  }
}
