.dialog-preview {
  flex: 500px 0 0;
  margin: 0 10px;

  ._coral-Dialog {
    transform: none;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    margin: 40px;
  }
}

/* Coral Extend */

coral-dialog-header {
  font-weight: 700;
  cursor: default;
}

