.contextmenu {
  width: 130px;
  min-height: 30px;
  transition: max-height 0.8s;
  position: absolute;
  top: 25rem;
  left: 25rem;
  border: 1px solid #dedede;
  background: white;
  padding: 6px;
  z-index: 30000000;


  ._coral-Button {
    border-radius: 0;
    border-color: transparent;
  }
}

.coral--dark {
  .contextmenu {
    background: #323232;
  }
}
