.app {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  min-height: calc(100vh - 40px);
  height: calc(100vh - 40px);
}

// todo: maybe different location for coral extensions in general
._coral-Button {
 line-height: 1.3;
 padding: 3.5px 14px 4.5px;
 margin-top: 12px;
}
