.drop-target {
  display: inline-block;
  padding: 15px;
  margin: 15px auto;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 0 1px #2680eb;
  color: #2680eb;
  border: 1px solid #2680eb;
  font-size: 12px;
  width: 446px;

  &--can-drop {
    // background: #119911;
  }

  &--is-over {
    background: #bdcfeb;
  }
}
