.footer {
  height: 56px;
  width: 100vw;
  min-width: 100vw;
  border-top: 2px solid #e1e1e1;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  padding: 5px 20px;
  background: #f5f5f5;

  button {
    margin-top: 6px;
    max-height: 32px;
  }
}

.footer_left {
  width: 50%;
}

.footer_right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

._hidden-file-input-wrapper {
  margin-top: 0.375rem;
  width: 150px;
  height: 30px;

  input._hidden-file-button {
    display: inline-block;
    width: 0px;
    padding: 120px 0 0 0;
    height: 100px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.separator--vertical {
  margin: 5px 10px;
  border-left: 2px solid #cccccc;
  height: 30px;
}
