@import '../../node_modules/reset-css/sass/reset';

body {
  background: $color-white;
  color: $color-black;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  &:before {
    content: $project-name;
  }
}

* {
  box-sizing: border-box;
}

pre {
  font-family: monospace;
  padding: 2px;
}
