@import '../../node_modules/reset-css/sass/reset';
@import '../../node_modules/@spectrum-css/vars/dist/spectrum-global.css';
@import '../../node_modules/@spectrum-css/vars/dist/spectrum-medium.css';
@import '../../node_modules/@spectrum-css/vars/dist/spectrum-large.css';
@import '../../node_modules/@spectrum-css/vars/dist/spectrum-lightest.css';
@import '../../node_modules/@spectrum-css/vars/dist/spectrum-light.css';
@import '../../node_modules/@spectrum-css/vars/dist/spectrum-dark.css';
@import '../../node_modules/@spectrum-css/vars/dist/spectrum-darkest.css';
@import '../../node_modules/@spectrum-css/page/dist/index-vars.css';
@import '../../node_modules/@spectrum-css/typography/dist/index-vars.css';
@import '../../node_modules/@spectrum-css/icon/dist/index-vars.css';
@import '../../node_modules/@spectrum-css/button/dist/index-vars.css';

@import 'preview';

body {
  overflow: hidden;
  height: 100%;
}
