.has-contextmenu {
  min-height: 22px;
  border: 1px solid transparent;
  display: block;
  position: relative;
  box-sizing: border-box;

  &:after {
    background-color: #2680eb;
    font-size: 12px;
    line-height: 1.3;
    font-weight: 500;
    letter-spacing: normal;
    padding: 4px 6px 4px 8px;
    border-top-left-radius: 8px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: $z-index-field-wrapper-border;
    color: #fff;
    text-transform: capitalize;
    content: attr(title);
    display: none;
  }

  &:hover {
    border: 1px solid #2680eb;
    border-radius: 4px;

    &:after {
      display: block;
    }
  }
}

.coral--light ._coral-Checkbox {
  border-color: transparent;

  &.has-contextmenu:hover {
    border-color: #2680eb;
  }
}

.contextmenu-opened {
  border: 1px solid #ff8800;

  &:hover {
    border: 1px solid #ff8800;
  }

  &:after {
    background-color: #ff8800;
    display: block;
  }
}

.cq-RichText.has-contextmenu {
  position: relative;
}
